
div(class='w-[380px] max-w-full' ).bg-white.shadow-card.overflow-hidden.rounded-10px
    div(class='h-[250px]').bg-gray.flex.items-center.justify-center
        img(src=img alt='Pricing for '+name loading='lazy')
    div(class='gap-15px py-20px lg:py-30px px-20px lg:px-25px').bg-white.flex.flex-col.text-center
        h3(class='text-base lg:text-2xl font-bold font-inter')=name
        ul(class='text-sm lg:text-base font-regular lg:font-semibold').flex.flex-col.justify-center.items-center.text-center.text-textGray.gap-5px
            li=feature1
            li=feature2
            li=feature3
        a(href=productLink class='btn font-bold text-sm').text-blue.w-full.justify-center
            span PRODUCT DETAILS
            include ../../../assets/images/global/next.svg
        a(href=pricingLink class='btn font-bold text-sm').bg-blue.w-full.justify-center.text-white
            span VIEW PRICING
            include ../../../assets/images/global/next.svg
